/* src/App.css */

.main {
  background-color: #f6f2f2;
}

/* Link styles for navigation */
.links:hover {
  background-color: #f6f2f2;
}

.inactive {
  color: black;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  cursor: pointer;
}

.active {
  padding: 4px 8px;
  text-decoration: none;
  background-color: #071c42;
  color: white;
  border: 1px solid #071c42;
  cursor: pointer;
  transition: background-color 0.3s;
}

.inactive:hover {
  background-color: #ddd;
}

.inactiveBtn {
  opacity: 0;
}
